In [18]:
python_libraries = ['numpy','pandas', 'matplotlib', 'plotly', 'librosa', 'counter', 'tensorflow', 'scipy.io', 'keras', 'pytorch']
python_libraries

['numpy',
 'pandas',
 'matplotlib',
 'plotly',
 'librosa',
 'counter',
 'tensorflow',
 'scipy.io',
 'keras',
 'pytorch']

In [19]:
python_libraries.append('pyaudio')
python_libraries

['numpy',
 'pandas',
 'matplotlib',
 'plotly',
 'librosa',
 'counter',
 'tensorflow',
 'scipy.io',
 'keras',
 'pytorch',
 'pyaudio']

In [20]:
python_libraries.pop(-1)

'pyaudio'

In [21]:
python_libraries.pop(len(python_libraries)-1)

'pytorch'

In [22]:
# remove method
python_libraries.remove('numpy')
python_libraries

['pandas',
 'matplotlib',
 'plotly',
 'librosa',
 'counter',
 'tensorflow',
 'scipy.io',
 'keras']

In [23]:
copied_list = python_libraries.copy()
copied_list

['pandas',
 'matplotlib',
 'plotly',
 'librosa',
 'counter',
 'tensorflow',
 'scipy.io',
 'keras']

## Dictionaries

In [25]:
cars = {'Make':'Toyota', 'Model':'Land Cruiser', 'Year':2002}
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2002}

In [27]:
cars['Make']

'Toyota'

In [28]:
cars['new'] = 'No'
cars

{'Make': 'Toyota', 'Model': 'Land Cruiser', 'Year': 2002, 'new': 'No'}

In [30]:
cars['Color']= 'black'
cars

{'Make': 'Toyota',
 'Model': 'Land Cruiser',
 'Year': 2002,
 'new': 'No',
 'Color': 'black'}

In [31]:
cars.keys()

dict_keys(['Make', 'Model', 'Year', 'new', 'Color'])

In [32]:
cars.values()

dict_values(['Toyota', 'Land Cruiser', 2002, 'No', 'black'])

In [33]:
profile = {'f_name':'Ujjawal','l_name':'Shah', 'age':20, 'height':'5.9 ft', 'email':'ujjawalshah360@gmail.com'}
profile

{'f_name': 'Ujjawal',
 'l_name': 'Shah',
 'age': 20,
 'height': '5.9 ft',
 'email': 'ujjawalshah360@gmail.com'}

In [34]:
#adding
profile['college_email'] = 'ujjawalshah@bison.howard.edu'
profile

{'f_name': 'Ujjawal',
 'l_name': 'Shah',
 'age': 20,
 'height': '5.9 ft',
 'email': 'ujjawalshah360@gmail.com',
 'college_email': 'ujjawalshah@bison.howard.edu'}

In [35]:
profile['age'] = 30
profile

{'f_name': 'Ujjawal',
 'l_name': 'Shah',
 'age': 30,
 'height': '5.9 ft',
 'email': 'ujjawalshah360@gmail.com',
 'college_email': 'ujjawalshah@bison.howard.edu'}

* # Booleans

In [1]:
print(True ==False)

False

In [2]:
print((2<3)|(12<56))

True

* # Tuples

# Basic Operations

In [4]:
seq = [1,2,3,4,5,6,7,8,9]

In [6]:
my_list = ['John', 'Jon', 'Josh', 'Abel', 'Mike', 'Sean', 'West', 'Abdul']

In [7]:
name = 'Mia'

In [9]:
if name in my_list:
    print('Student')
else:
    print('Not a student')

Not a student

# Range

In [7]:
for num in range(1,11,3):
    if num % 2 ==0:
        print('Even Number')
    else:
        print('Odd Number')

Odd Number
Even Number
Odd Number
Even Number

In [2]:
num = 1
while num < 11:
    if num % 3 == 0:
        print(f'{num} is a odd number')
    num+=1

3 is a odd number
6 is a odd number
9 is a odd number

# List Comprehension

In [12]:
even_odd = [f'{x} is a even number' if x % 2==0 else f'{x} is a odd number' for x in range(20)]
print(even_odd)

['0 is a even number', '1 is a odd number', '2 is a even number', '3 is a odd number', '4 is a even number', '5 is a odd number', '6 is a even number', '7 is a odd number', '8 is a even number', '9 is a odd number', '10 is a even number', '11 is a odd number', '12 is a even number', '13 is a odd number', '14 is a even number', '15 is a odd number', '16 is a even number', '17 is a odd number', '18 is a even number', '19 is a odd number']

# Dictionary Comprehension

In [2]:
name = ['ujjwal', 'tej', 'harry', 'sally', 'ben']
dico = {k:v for k,v in enumerate(name)}
dico

{0: 'ujjwal', 1: 'tej', 2: 'harry', 3: 'sally', 4: 'ben'}

In [6]:
even_odd = [f'{x} is a even number' if x % 2==0 else f'{x} is a odd number' for x in range(20)]
even_odd

['0 is a even number',
 '1 is a odd number',
 '2 is a even number',
 '3 is a odd number',
 '4 is a even number',
 '5 is a odd number',
 '6 is a even number',
 '7 is a odd number',
 '8 is a even number',
 '9 is a odd number',
 '10 is a even number',
 '11 is a odd number',
 '12 is a even number',
 '13 is a odd number',
 '14 is a even number',
 '15 is a odd number',
 '16 is a even number',
 '17 is a odd number',
 '18 is a even number',
 '19 is a odd number']

In [5]:
name = ['Ujjawal', 'Tej', 'Harry', 'Sally', 'Ben']
age = [12, 20, 35, 40, 45]

age_dict = {k:v for k,v in zip(name, age)}
age_dict

{'Ujjwal': 12, 'Tej': 20, 'Harry': 35, 'Sally': 40, 'Ben': 45}

In [ ]:
def square_root_func(num):
    result = num ** 0.5
    return result

In [15]:
for x in range(-5,-10,-1):
    print(x)

-5
-6
-7
-8
-9

In [33]:
for x in range(5,0,-1):
    print('jhdbh')

jhdbh
jhdbh
jhdbh
jhdbh
jhdbh

In [4]:

def factorial_num(num):
    p = 1
    for x in range(num,0,-1):
        p *= x
    return p

5040

In [5]:
lambda x:x**2