In [5]:
import numpy as np
import pandas as pd
import random
import string

* # Series is just a column of data

In [15]:
data1 = [i for i in range(10)]
data1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
alphalist = list(string.ascii_uppercase)
print(alphalist)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [14]:
index = [alphalist[i] for i in range(10)]
index

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [18]:
serrie1 = pd.Series(data=data1, index = index)
serrie1

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [19]:
dico = {k:v for k,v in zip(index,data1)}
dico

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [21]:
series2 = pd.Series(dico)
series2

A    0
B    1
C    2
D    3
E    4
F    5
G    6
H    7
I    8
J    9
dtype: int64

In [26]:
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df

     A   B   C   D
0   95  46  38  28
1    4  99  68  66
2   64  55  80  48
3    0  68  84  69
4   53   3  49  91
..  ..  ..  ..  ..
95  59  88  23  34
96  82  46  26  59
97  80   1  44  76
98  70  22  64  26
99  33  56  73  61

[100 rows x 4 columns]

In [39]:
df = pd.DataFrame(np.random.randn(5,5) ,index='A/B/C/D/E'.split('/'), columns='V/W/X/Y/Z'.split("/"))
df

          V         W         X         Y         Z
A -0.221506  0.643705  1.179782  0.514220  1.219605
B  0.921826  0.888249 -0.560223 -0.404329 -0.129176
C -0.282612 -2.410064 -0.636899  1.479511 -1.463657
D -0.595602 -0.071925  1.026530 -0.211904 -0.591211
E  0.065254  1.331317  0.366749 -0.620513 -1.127157

In [40]:
# df = pd.DataFrame(np.random.randn(5,5) ,index='A/B/C/D/E'.split('/'), columns='V/W/X/Y/Z'.split("/"))
df[['V','W']]

          V         W
A -0.221506  0.643705
B  0.921826  0.888249
C -0.282612 -2.410064
D -0.595602 -0.071925
E  0.065254  1.331317

In [42]:
df.loc['B']['V']

0.9218259008541433

In [44]:
df[df['W']>0]

          V         W         X         Y         Z
A -0.221506  0.643705  1.179782  0.514220  1.219605
B  0.921826  0.888249 -0.560223 -0.404329 -0.129176
E  0.065254  1.331317  0.366749 -0.620513 -1.127157

In [45]:
df['U'] = df['V'] + df['W']
df

          V         W         X         Y         Z         U
A -0.221506  0.643705  1.179782  0.514220  1.219605  0.422199
B  0.921826  0.888249 -0.560223 -0.404329 -0.129176  1.810075
C -0.282612 -2.410064 -0.636899  1.479511 -1.463657 -2.692676
D -0.595602 -0.071925  1.026530 -0.211904 -0.591211 -0.667527
E  0.065254  1.331317  0.366749 -0.620513 -1.127157  1.396571

In [46]:
df[df['U'] > df['V']]

          V         W         X         Y         Z         U
A -0.221506  0.643705  1.179782  0.514220  1.219605  0.422199
B  0.921826  0.888249 -0.560223 -0.404329 -0.129176  1.810075
E  0.065254  1.331317  0.366749 -0.620513 -1.127157  1.396571